@import url(https://fonts.googleapis.com/css?family=Open+Sans);

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

img {
  max-width: 100%;
  height: auto;
  width: auto\9;
  /* ie8 */ }

img.bottom{
    vertical-align: text-bottom;
}

p{font-size: 16px}

/* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
    }
    img{max-width=60%; height: auto;}
}


.cf:before,
.cf:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.cf:after {
  clear: both; }

.cf {
  *zoom: 1; }
hr {
	border: none;
	border-bottom: 3px solid #f7f7f7;
}

@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
 
.fade-in {
    opacity:0;
    -webkit-animation:fadeIn ease-in 1; 
    -moz-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1;
 
    -webkit-animation-fill-mode:forwards;  
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;
 
    -webkit-animation-duration:0.3s;
    -moz-animation-duration:0.3s;
    animation-duration:0.3s;
    

    -webkit-animation-delay: 0.5s;
	-moz-animation-delay: 0.5s;
	animation-delay: 0.5s;

}

.splash {
	background: url('img/golden-gate-bridge-1081782_1920.jpg') center center;
    -webkit-filter: grayscale(100%);
    filter: gray;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	min-height: 360px;
	z-index: 999;
	background-size: cover;
	background-attachment: fixed;
	text-align: center;
}

.splash-title {
	color: #d8d3d3;
	font-size: 3em;
	margin-top: 100px;
	text-shadow: 0 2px 10px #000;
	-webkit-animation-delay: 1s;
	-moz-animation-delay: 1s;
	animation-delay: 1s;
}

a.splash-arrow {
	color: white;
	font-size: 1.2em;
	position: absolute;
	bottom: 55px;
	left: 50%;
	margin-left: -25px;
	padding: 10px;
	width: 50px;
	height: 50px;
	font-weight: bold;
	-webkit-transition: all 0.1s ease;
	-moz-transition: all 0.1s ease;
	-o-transition: all 0.1s ease;
	transition: all 0.1s ease;
	-webkit-animation-delay: 1.5s;
	-moz-animation-delay: 1.5s;
	animation-delay: 1.5s;
	border: 3px solid white;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}

a.splash-arrow:hover {
	text-decoration: none;
	bottom: 50px;
}



/* This is a single-line comment */
/* .class */
/* #id */
/* p.center is modiflyer */
body{
    font-family: 'Montserrat', sans-serif;
}
       
    


#footer {
   position:fixed;
   left: 0px;
   bottom:0px;
   height:100px;
   width:100%;
   color: white;
   background: #1f1e1e;
}

/* IE 6 */
* html #footer {
   position:absolute;
   top:expression((0-(footer.offsetHeight)+(document.documentElement.clientHeight ? document.documentElement.clientHeight : document.body.clientHeight)+(ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop))+'px');
}


.shell { width: 1170px; margin: 0 auto; }
.content { float: left; width: 870px; }
.content-medium { float: right; width: 700px; }

/* ==========================================================================
#Header
========================================================================== */
.header { height: 80px; padding-top: 5px; background: #fff; box-sizing: border-box; }

.header-inner {float: center; margin-right: 0px; text-align: center;}

/* ==========================================================================
	#Nav
========================================================================== */
.nav { text-align: center; float: center;} /* float here set text-align*/
.nav li { display: inline-block; vertical-align: top; }
.nav li + li { padding-left: 20px;}
.nav a { font-size: 20px; color: #fffbfb; font-weight: 600; }
.nav .current-menu-item a { text-decoration: underline; }



#invert{
    -webkit-filter: invert(1);
   filter: invert(1);
}
.grayscale {-webkit-filter: grayscale(100%);filter: grayscale(100%);}
.grayscale:hover {-webkit-filter: grayscale(0%);filter: grayscale(0%);}
.spacing400{margin-bottom: 400px;}
.spacing300{margin-bottom: 300px;}
.spacing250{margin-bottom: 250px;}
.spacing200{margin-bottom: 200px;}
.spacing180{margin-bottom: 180px;}
.spacing150{margin-bottom: 150px;}
.spacing100{margin-bottom: 100px;}
.spacing40{margin-bottom: 40px;}
.spacing20{margin-bottom: 20px;}
.line {
	border-bottom: 2px solid #363535;
	margin-bottom: 20px;
}

#blk1{
}
#building {
	background: url(img/258H.jpg) no-repeat center top;
    -webkit-filter: grayscale(100%);
    filter: gray;
	padding-top: 200px;
	padding-bottom: 0px;
	background-attachment: relative;
	background-position: center center;
	min-height: 700px;
	width: 100%;

    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: white;
}

#profile{   
}
.profilecirc{
    -moz-border-radius: 30%;
	-webkit-border-radius: 30%;
	border-radius: 30%;
    width: 70%;
    height: auto;
      ;
}

#blk2{
    background-color: white;
}
#lib {
	background: url(img/berkeleylib.jpg) no-repeat center top;
    -webkit-filter: grayscale(100%);
    filter: gray;
	padding-top: 200px;
	padding-bottom: 0px;
	background-attachment: relative;
	background-position: center center;
	min-height: 700px;
	width: 100%;

    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: white;
}


#blk3{
    background-color: white;
    text-align: center;
}
#blk4{
    background-color: white;
    text-align: center;
}
#sky {
	background: url(img/286H.jpg) no-repeat center top;
    -webkit-filter: grayscale(100%);
    filter: gray;
	padding-top: 200px;
	padding-bottom: 0px;
	background-attachment: relative;
	background-position: center center;
	min-height: 700px;
	width: 100%;

    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: white;
    vertical-align: bottom;
}

.fa{color: white;}

#map {
    width: 100%;
    max-height: 500px;
}